.text-container{
    background-color: #f8fbfd;
    padding: 0;
    box-shadow:100px 3px 20px -3px #f8fbfd ;
    opacity: 0.87;
    z-index: 5;
  
}
.text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 30px 0 150px;
}
.title-main{
    color:#526d7a;
}
h1{
    margin-bottom: 40px;
    font-size: 64px;
    font-weight: 400;
    
}
.main-text{
    color:#526d7a;
    font-weight: 500;
    font-size: 20px;
}
.green-ambiance{
    background-image: url("./cta_one.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.show-button{
    border: none !important;
    width: 200px !important;
    padding: 10px 0 10px 0 !important;
    font-size:20px;

}
.h4{
    line-height: 35px !important;
    font-weight: 400;
    color:rgb(95, 94, 94);
}
.h5{
    line-height: 30px !important;
    font-weight: 400;
}
.show-button:hover{
    color:white;
    background-color: black;
    transition: all .5s ease-in;
    border:none;
}
